<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gling.bookmeup"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <!-- For parse data and push services -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- For business image upload -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <permission
        android:name="com.gling.bookmeup.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.gling.bookmeup.permission.C2D_MESSAGE" />

    <application
        android:name="com.gling.bookmeup.main.BookMeUpApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher_bevel"
        android:theme="@style/Theme.Bookmeup_ActionBar" >
        <service android:name="com.parse.PushService" />

        <!-- For Parse push services -->
        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.gling.bookmeup" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.gling.bookmeup.login.SplashScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BookMeUp_SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gling.bookmeup.login.LoginMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BookMeUp_LoginScreen" >
        </activity>
        <activity
            android:name="com.gling.bookmeup.business.BusinessMainActivity"
            android:label="@string/business_activity_title" >
        </activity>
        <activity
            android:name="com.gling.bookmeup.customer.CustomerMainActivity"
            android:label="@string/customer_activity_title" >
        </activity>
        <activity
            android:name="com.gling.bookmeup.business.BusinessCalendarActivity"
            android:label="@string/title_activity_business_calendar"
            android:parentActivityName="com.gling.bookmeup.business.BusinessMainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gling.bookmeup.business.BusinessMainActivity" />
        </activity>
        <activity
            android:name="com.gling.bookmeup.customer.CustomerCalendarActivity"
            android:label="@string/title_activity_customer_calendar" >
        </activity>
        <activity
            android:name="com.gling.bookmeup.main.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer" >
        </activity>
        <activity
            android:name="com.gling.bookmeup.business.wizards.BusinessProfileWizardActivity"
            android:label="@string/title_activity_business_profile_wizard" 
            android:windowSoftInputMode="adjustNothing">
        </activity>
    </application>

</manifest>